<div class="footer">
  <h2>Saving a life won't cost you anything.<br>
    Go ahead and donate blood</h2>
  <div class="contact">
    <div class="details">
      <div class="black">
        <p>contact Details</p>
      </div>
      <div class="social-links ">
        <p><i class="fas fa-globe"></i> www.blooddonahub.in</p>
        <p><i class="fa-regular fa-envelope"></i> blooddonahub@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +917830281980</p>
      </div>
    </div>
    <div class="details">
      <div class="black">
        <p>Quick Links</p>
      </div>
      <div class="social-links ">
        <p><a routerLink="/request"><i class="fa-solid fa-arrow-right"></i> Request Blood</a></p>
        <p><a routerLink="/bloodfacts"><i class="fa-solid fa-arrow-right"></i> Blood Facts</a></p>
        <!-- <p><a routerLink="/about"><i class="fa-solid fa-arrow-right"></i> About Us</a></p> -->
        <p><a routerLink="/contactus"><i class="fa-solid fa-arrow-right"></i> Contact Us</a></p>
      </div>

    </div>
    <div class="details">
      <div class="black">
        <p>Follow Us on</p>
      </div>
      <div class="social-links ">
        <p><a href="#"><i class="fab fa-facebook-f"></i> Facabook</a></p>
        <p><a href="#"><i class="fab fa-twitter"></i> Twitter</a></p>
        <p><a href="#"><i class="fab fa-instagram"></i> Instagram</a></p>
        <p><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright &copy; 2022 | All rights reserved | Developed by Sedhuragavan L</p>
  </div>
</div>