<app-Header></app-Header>
<!-- <dialog open>Hiii</dialog> -->
<dialog class="offer-dialog" *ngIf="showOfferDialog">
  <h2>Blood Donation Quotes</h2>
  <p>"Blood donation is the gift of life." </p>
  <p>"Be a blood donor, be a hero in someone's life." </p>
  <p>"A single pint can save three lives, a single gesture can create a million smiles." </p>
  <p>"The best blood will at some time get into a fool or a mosquito."  <br> - Benjamin Franklin</p>
  <p>"Donate blood and be the reason someone smiles today." </p>
  <p>"Share life, give blood." </p>
  <button  (click)="closeOfferDialog()">Close</button>
</dialog>

<div class="main">
  <div class="maincontent">
    <div class="contents">
      <h2>Be the reason for <br> someone's heartbeat</h2>
      <p>We provide a safe, easy and socially-acceptable way to donate <br> blood. Donating blood is a great
        way to help save lives. </p>
      <!-- <div class="request"><a routerLink="/request">Request blood <i class="fas fa-arrow-right-long"></i></a>
      </div> -->
    </div>
    <div class="image">
      <img src="../../assets/Images/image12.png" alt="blood donate">
    </div>
  </div>
  <div class="impacts" id="impacts">
    <h2>Social-Impact we create!</h2>
    <p>You know how important it is to donate, but you can't do it because you're a little bit scared? Well,
      we've got the solution! We offer a safe and easy way for anyone to donate blood. You won't have to
      wait in long lines and answer a bunch of personal questions. With us, you just fill out some quick
      information online, and we'll come to your place with all the equipment and take care of the whole
      thing. You'll leave feeling good with that feeling gone! By donating blood, you can help families who have been in
      accidents or experienced trauma, mothers experiencing labor complications, fathers having heart surgery, children
      undergoing chemotherapy treatments, premature babies trying to breathe with tiny lungs, or grandparents suffering
      from severe anemia. In as little as few minutes, you can become someones unnamed, unknown, but all-important hero.
      Saving a life is noble work that starts very simply and easily.</p>
  </div>
  <div class="container">
    <div class="data">
      <img src="../../assets/Images/donor.png" alt="">
      <h4>200+</h4>
      <p>Donors Registered</p>
    </div>
    <div class="data">
      <img src="../../assets/Images/bloodunit.png" alt="">
      <h4>150+</h4>
      <p>Blood units collected</p>
    </div>
    <div class="data">
      <img src="../../assets/Images/visitors.png" alt="">
      <h4>1000+</h4>
      <p>Visitors of our website</p>
    </div>
  </div>
  <div class="bloodfacts" id="bloodfacts">
    <h2>About Blood!</h2>
    <div class="horizondal">
      <hr>
    </div>
    <div class="contentblood">
      <div class="tables">
        <table>
          <tr>
            <th colspan="3">Compatible Blood Type Donors
          </tr>
          <tr>
            <th>Blood Type</th>
            <th>Donate Blood To</th>
            <th>Receive Blood From</th>
          </tr>
          <tr>
            <td>A+</td>
            <td>A+,AB+</td>
            <td>A+,A-,O+,O-</td>
          </tr>
          <tr>
            <td>O+</td>
            <td>O+,A+,B+,AB+</td>
            <td>O+,O-</td>
          </tr>
          <tr>
            <td>B+</td>
            <td>B+,AB+</td>
            <td>B+,B-,O+,O-</td>
          </tr>
          <tr>
            <td>AB+</td>
            <td>AB+</td>
            <td>Everyone</td>
          </tr>
          <tr>
            <td>A-</td>
            <td>A+,A-,AB+,AB-</td>
            <td>A-,O-</td>
          </tr>
          <tr>
            <td>O-</td>
            <td>Everyone</td>
            <td>O-</td>
          </tr>
          <tr>
            <td>B-</td>
            <td>B+,B-,AB+,AB-</td>
            <td>A+,A-,O+,O-</td>
          </tr>
          <tr>
            <td>AB-</td>
            <td>AB+,AB-</td>
            <td>AB-,A-,B-,O-</td>
          </tr>
          <tr>
            <td>A+</td>
            <td>A+,AB+</td>
            <td>A+,A-,O+,O-</td>
          </tr>
        </table>
      </div>
      <div class="con">
        <ul>
          <li>There are four main blood types: A, B, AB, and O.</li>
          <li>O-negative blood is the universal blood type, which means it can be transfused to anyone
            regardless of their blood type. However, O-negative blood is also the rarest blood type,
            making
            it especially important to donate.</li>
          <li>One blood donation can save up to three lives.</li>
          <li>It is generally safe to donate blood, but there are some restrictions on who can donate. For
            example, people who have certain medical conditions, such as HIV or hepatitis, may not be
            able
            to donate.</li>
          <li>The process of donating blood usually takes about an hour, including the time it takes to
            register, have a short medical evaluation, and donate the blood.</li>
          <li>After donating blood, it is recommended to drink plenty of fluids and avoid strenuous
            physical
            activity for the rest of the day.
          </li>
          <li>Blood donations are typically collected by blood banks or blood centers, which are regulated
            by
            the Food and Drug Administration (FDA).</li>
          <li>Blood donations are usually collected through a process called phlebotomy, in which a
            healthcare
            worker inserts a needle into a vein in the donor's arm and collects the blood in a bag.</li>
          <li>There is no substitute for human blood, so it is important to have a consistent supply of
            blood
            donations to meet the needs of patients in hospitals and other healthcare settings.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="types" id="types">
    <h2>Types of Donation</h2>
    <ul>
      <li>The human body contains five liters of blood, which is made of several useful components i.e. Whole
        blood, Platelet, and Plasma.
      </li>
      <li> Each type of component has several medical uses and can be used for different medical treatments.
        your blood donation determines the best donation for you to make.
      </li>
      <li>For plasma and platelet donation you must have donated whole blood in past two years.
      </li>
    </ul>
  </div>
  <div class="donations">
    <div class="first">
      <div class="column">
        <h4>What is it?</h4>
        <p>Blood Collected straight from the donor after its donation is usually separated into red blood
          cells,
          platelets, and plasma.</p>
      </div>
      <div class="column">
        <h4>Who can donate?</h4>
        <p>You need to be 18-65 years old, weigh 50kg or more and be
          fit and healthy.</p>
      </div>
    </div>
    <div class="second">
      <div class="column">
        <h4>User For?</h4>
        <p>Childbirth, operations, blood loss,
          trauma, cancer, blood diseases,
          haemophilia, anemia, heart disease</p>
      </div>
      <div class="column">
        <h4>How often can I donate?</h4>
        <p>Every 12 weeks and it takes 15 minutes <br> to donate.</p>
      </div>
    </div>
    <div class="donorarrow"><a routerLink="/register">Register as a Donor <i
          class="fas fa-arrow-right-long"></i></a>
    </div>
  </div>
  <!-- <div class="slider" id="slider">
  <h2>Glimpses of Our Donation Campaign</h2>
  <div class="glimpses">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./media/camp.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./media/camp1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./media/camp2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./media/camp3.jpg" alt=""></div>
        <div class="swiper-slide"><img src=" ./media/camp4.jpg" alt=""></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div> -->

  <!-- <div class="footer">
    <h2>Saving a life won't cost you anything.<br>
      Go ahead and donate blood</h2>
    <div class="contact">
      <div class="details">
        <div class="black">
          <p>contact Details:</p>
        </div>
        <p><i class="fas fa-globe"></i> www.blooddonahub.in</p>
        <p><i class="fa-regular fa-envelope"></i> blooddonahub@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +917830281980</p>
      </div>
      <div class="details">
        <div class="black">
          <p>Quick Links:</p>
        </div>
        <p><a href="#impacts">Social Impacts</a></p>
        <p><a href="#bloodfacts">Blood Facts</a></p>
        <p><a href="#types">Types of Donation</a></p>
        <p><a href="#slider">Glimpses</a></p>

      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2022 | All rights reserved | Developed by Sedhuragavan L</p>
  </div>
</footer> -->
  <app-Footer></app-Footer>